<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Project</display-name>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Department List</servlet-name>
        <jsp-file>/view/departmentListPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Department List</servlet-name>
        <url-pattern>/departments</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Department Page</servlet-name>
        <jsp-file>/view/departmentPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Department Page</servlet-name>
        <url-pattern>/departmentPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Employee List</servlet-name>
        <jsp-file>/view/employeeListPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Employee List</servlet-name>
        <url-pattern>/employeeListPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Employee Page</servlet-name>
        <jsp-file>/view/employeePage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Employee Page</servlet-name>
        <url-pattern>/employeePage</url-pattern>
    </servlet-mapping>
</web-app>